*.o
*.d
*.ali
*.stdout
*.stderr
*-loc.xml
*.a
*.lexch
*.bexch
*.cswi
*.ci
*.cgpr
*.db-shm
*.db-wal
*.gcno
gnatinspect.db
messages.txt
gnatinspect.db
protoc-ada
*.deps
.#*#
clang_ref_cache.db
trace
Makefile.conf
protoc-gen-ada
_
b__*
main
*.exe
x
w.py
*.pyc
protobuff*
