add_person.adb
add_person_cpp
add_person_python
addressbook-addressbook.adb
addressbook-addressbook.ads
addressbook-person-phonenumber.adb
addressbook-person-phonenumber.ads
addressbook-person.adb
addressbook-person.ads
addressbook.ads
addressbook.pb.cc
addressbook.pb.h
addressbook_pb2.py
addressbook_pb2.pyc
com/example/tutorial/*.java
list_people_cpp
list_people_python
protoc_middleman
ADDRESS_BOOK_FILE
bin
.obj
obj
src.*
